<h1>New User</h1>
<% flash.each do |name, msg| %>
  <%= msg %>
<% end %>
<form action="/users" method="post" accept-charset="UTF-8">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]">
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="user[email]">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]">
  </div>
  <input type="submit" value="Sign Up">
</form>
